$accent: #E95420;
$light0: #FFFFFF;
$grey0: #AEA79F;
$grey1: #333333;
$grey2: #111111;

$radius: 4px;

$f-sz-logo: clamp(2rem, 10vw, 4rem);
$f-sz-nav-links: clamp(1.4rem, 2vw, 2rem);
$f-sz-button: clamp(1.4rem, 2vw, 2rem);
$f-sz-section-title: clamp(1.8rem, 3vw, 4rem);

$transition: all 0.2s linear;