@import './partials/fonts';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
hr,
ul,
li,
img,
p,
hr,
input,
label,
form,
button {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}